@media (max-width: 1600px) {
    .main .content {
        margin-top: 70px;
    }
    .main .content p {
        margin-bottom: 40px;
    }
    .main .background {
        left: -300px;
        width: auto;
    }
}

@media (max-width: 1400px) {
    .kviz_modal form .right_menu_last {
        padding-left: 40px;
    }
    .main .container {
        max-width: 1100px;
    }
    .main .content {
        padding-left: 350px;
    }
    .main .cards {
        padding-left: 350px;
    }
    .main .background {
        left: -400px;
        width: auto;
    }
}

@media (max-width: 1200px) {
    .main .container {
        max-width: 100%;
    }
    .main .content {
        padding-left: 440px;
    }
    .main .cards {
        padding-left: 440px;
    }
    .main .cards_inner {
        transform: scale(0.8);
        bottom: -30px;
    }
    .main .cards_inner_2 {
        transform: translateX(-45px) scale(0.8);
    }
    .main .cards_inner_3 {
        transform: translateX(-85px) scale(0.8);
    }
    .main .content p br {
        display: none;
    }
    .main .container {
        max-width: calc(100% - 30px);
        padding-left: 15px;
        padding-right: 15px;
    }
    .main .content h1 {
        margin-top: 0;
        font-size: 28px;
        line-height: 1.5;
    }
    .main .content p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .main .content .btn {
        max-width: 300px;
    }
    .main .content .btn img {
        width: 100%;
    }
    .main .background {
        left: -250px;
        width: auto;
    }
    .kviz_modal {
        min-width: auto;
        width: calc(100% - 30px);
    }
    .kviz_modal form .right_menu_last .left_item h2 br,
    .kviz_modal form .right_menu_last .left_item h3 br {
        display: none;
    }
    .kviz_modal form .right_menu_last .left_item h2 {
        font-size: 24px;
    }
    .kviz_modal form .right_menu_last .left_item h3 {
        font-size: 18px;
    }
}

@media (max-width: 1100px) {
    .main .cards {
        padding-left: 0;
        max-width: 650px;
        margin: 0 auto;
    }
    .main .content {
        padding-left: 220px;
    }
    .kviz_modal form .right_menu {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 900px) {
    .kviz_modal form .left_menu {
        min-width: 250px;
    }
    .kviz_modal form .right_menu .btn_next {
        margin: 0 auto;
        margin-top: 80px;
        position: static;
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }
}

@media (max-width: 700px) {
    .main .content {
        padding-left: 150px;
    }
}

@media (max-width: 630px) {
    .kviz_modal form .right_menu .steps .step_1 label .number {
        width: 55px;
    }
    .kviz_modal form .right_menu .steps .step_1 label .opisanie {
        margin-left: 20px;
    }
    .kviz_modal form .left_menu {
        min-width: 200px;
    }
    .kviz_modal form .left_menu p {
        font-size: 14px;
    }
    .main .container {
        padding-left: 10px;
        padding-right: 10px;
        max-width: calc(100% - 20px);
    }
}

@media (max-width: 550px) {
    .main .content {
        padding-left: 30px;
        text-align: center;
    }
    .main .content h1 br {
        display: none;
    }
    .main .background {
        left: -400px;
    }
    .main .cards {
        justify-content: flex-start;
    }
    .main .cards_inner_1 {
        left: -60px;
        transform: scale(0.5);
    }
    .main .cards_inner_2 {
        left: -160px;
        transform: scale(0.5) translateX(-45px);
    }
    .main .cards_inner_3 {
        left: -260px;
        transform: scale(0.5) translateX(-85px);
    }
    .main .cards_inner {
        bottom: -85px;
    }
    .main .header {
        padding-top: 10px;
    }
    
}

@media (max-width: 480px) {
    .kviz_modal form .left_menu {
        min-width: 150px;
    }
    .kviz_modal form .left_menu img.myach_gold {
        top: 15px;
        right: 15px;
    }
    .main .content {
        padding-left: 0;
    }
    .kviz_modal form {
        flex-direction: column;
    }
    .kviz_modal form .left_menu, .kviz_modal form .left_menu_last,
    .kviz_modal form .left_menu {
        min-height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .kviz_modal form .left_menu_last img.myach_gold,
    .kviz_modal form .left_menu img.myach_gold {
        top: -50px;
        right: -20px;
        transform: scale(0.7);
    }
    .kviz_modal form .left_menu img.myach, .kviz_modal form .left_menu_last img.myach {
        transform: scale(0.7);
        bottom: -20px;
        right: -20px;
    }
    .kviz_modal form .left_menu img.ruka, .kviz_modal form .left_menu_last img.ruka {
        transform: scale(0.7);
        bottom: -80px;
        left: -40px;
    }
    .kviz_modal form .right_menu {
        width: auto;
    }
    .kviz_modal form .right_menu .btn_next {
        max-width: 90%;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .kviz_modal form .right_menu .steps .step_1 label, .kviz_modal form .right_menu .steps .step_2 label {
        height: 50px;
    }
    .kviz_modal form .right_menu .steps .step_1 label .number, .kviz_modal form .right_menu .steps .step_2 label .number {
        height: 50px;
        line-height: 50px;
    }
    .kviz_modal form .right_menu .steps .step_1 label .opisanie, .kviz_modal form .right_menu .steps .step_2 label .opisanie {
        line-height: 50px;
    }
    .kviz_modal form .right_menu .steps .step_3 .flex_container .flex_item img, .kviz_modal form .right_menu .steps .step_4 .flex_container .flex_item img {
        width: 92px;
        height: 120px;
        display: block;
        margin: 0 auto;
    }
    .kviz_modal form .right_menu .steps .step_3 input:checked + .paragraf::before,
    .kviz_modal form .right_menu .steps .step_4 input:checked + .paragraf::before,
    .kviz_modal form .right_menu .steps .step_3 .flex_container .flex_item p::before,
     .kviz_modal form .right_menu .steps .step_4 .flex_container .flex_item p::before {
        border: 5px solid #e0e0e0;
    }
    .kviz_modal form .right_menu .steps .step_3 .flex_container .flex_item p, .kviz_modal form .right_menu .steps .step_4 .flex_container .flex_item p {
        padding-left: 24px;
        line-height: 12px;
    }
    .kviz_modal form .right_menu .steps .step_3 .flex_container, .kviz_modal form .right_menu .steps .step_4 .flex_container {
        justify-content: space-between;
    }
    .kviz_modal form .left_menu_last p {
        margin-bottom: 20px;    
    }
    .kviz_modal form .left_menu_last h2 {
        font-size: 24px;
    }
    .kviz_modal form .left_menu_last h3 {
        margin-bottom: 30px;
    }
    .kviz_modal form .right_menu_last {
        width: auto;
        flex-direction: column;
        padding-bottom: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .kviz_modal form .right_menu_last .left_item h2 {
        line-height: 150%;
        text-align: center;
        margin-bottom: 0;
    }
    .kviz_modal form .right_menu_last .left_item h3 {
        text-align: center;
    }
    .kviz_modal form .right_menu_last .left_item {
        margin-right: 0;
    }
    .kviz_modal form .right_menu_last .right_item {
        min-width: auto;
        min-height: auto;
        width: 100%;
    }
    .kviz_modal form .right_menu_last .right_item img {
        width: 90px;
    }
    .kviz_modal form .right_menu_last .right_item p {
        font-size: 12px;
        line-height: 150%;
    }
}

@media (max-width: 400px) {
    .main .cards_inner_1 {
        left: -80px;
    }
    .main .cards_inner_2 {
        left: -180px;
    }
    .main .cards_inner_3 {
        left: -280px;
    }
}

@media (max-width: 360px) {
    .main .header .logo_container span {
        margin-left: 5px;
    }
    .main .header_contacts a {
        font-size: 15px;
    }
    .main .header_contacts p {
        font-size: 10px;
    }
    .main .container {
        padding-left: 5px;
        padding-right: 5px;
        max-width: calc(100% - 10px);
    }
    .main .cards_inner_1 {
        left: -70px;
        transform: scale(0.4);
    }
    .main .cards_inner_2 {
        left: -200px;
        transform: scale(0.4) translateX(-45px);
    }
    .main .cards_inner_3 {
        left: -330px;
        transform: scale(0.4) translateX(-85px);
    }
    .main .cards_inner {
        bottom: -110px;
    }
    .kviz_modal form .left_menu_last img.myach {
        right: 0;
    }
    .kviz_modal form .left_menu img.ruka, .kviz_modal form .left_menu_last img.ruka {
        bottom: -50px;
    }
    .kviz_modal form .right_menu_last .left_item input.kviz_submit_5 {
        max-width: 100%;
        padding: 30px;
    }
    .kviz_modal form .right_menu  {
        padding-left: 5px;
        padding-right: 5px;
    }
    .kviz_modal form .right_menu .steps .step_3 .flex_container .flex_item, .kviz_modal form .right_menu .steps .step_4 .flex_container .flex_item {
        flex-basis: calc(100% / 3);
        width: calc(100% / 3);
    }
    .kviz_modal form .right_menu .steps .step_3 .flex_container .flex_item p {
        padding-left: 0px;
        text-align: center;
    }
    .kviz_modal form .right_menu .steps .step_3 .flex_container .flex_item p:before {
        left: 50%;
        transform: translateX(-50%);
        bottom: -30px;
        top: auto;
    }
}