@media (max-width: 1199px) {
    .header_top .contacts {
        justify-content: space-around;

    }
    .header_top .contacts .phons {
        display: none;
    }
    .task_inner_2 .task_title h2 br {
        display: none;
    }
    .task_inner_2 .task_container h4 {
        font-size: 18px;
    }
    .task_inner_2 .task_container p {
        font-size: 14px;
    }
    .task_inner_2 {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
}

@media (max-width: 991px) {
    .task_inner_1 {
        margin-bottom: 30px;
    }
    .best_title {
        align-items: center;
        padding-bottom: 30px;
    }
    .best_title h2 {
        text-align: center;
    }
    .best_title h2 br {
        display: none;
    }
    .best_inner {
        margin-bottom: 0;
    }
    .portfolio_card {
        margin-bottom: 30px;
    }
    .advantages_inner {
        margin-top: 30px;
        align-items: center;
        text-align: center;
        padding-left: 0;
    }
    .portfolio_inner::after {
        display: none;
    }
    .portfolio_inner h2 {
        text-align: center;
    }
    .portfolio_inner h3 {
        text-align: center;
    }
    .task .task_2 .col-lg-4 {
        display: block;
    }
    .task .task_2 .col-lg-4 .task_2_inner {
        margin-bottom: 30px;
    }
    .task {
        padding-bottom: 200px;
    }
    .work {
        padding-top: 150px;
    }
    .kviz_inner {
        align-items: center;
        text-align: center;
    }
    .reviwes_title {
        display: none;
    }
    .large-invisible {
        display: block;
        margin-bottom: 50px;
        align-items: center;
        text-align: center;
        padding-right: 0;
    }
    .reviwes_title h2::after {
        display: none;
    }
    .reviwes_text_inner {
        margin-bottom: 30px;
    }
    .footer ul {
        text-align: center;
    }
    .footer form {
        padding-bottom: 40px;
    }
    .footer .footer_menu {
        margin-bottom: 30px;
    }
    .task_inner_1 {
        transform: none;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
    }
    .modal_kviz_inner .kviz_1_inner,
    .modal_kviz_inner .kviz_2_inner,
    .modal_kviz_inner .kviz_3_inner,
    .modal_kviz_inner .kviz_4_inner,
    .modal_kviz_inner .kviz_5_inner,
    .modal_kviz_inner .kviz_6_inner,
    .modal_kviz_inner .kviz_7_inner {
        flex-basis: 100%;
        min-height: 500px;
    }

    .modal_kviz_inner .kviz_1,
    .modal_kviz_inner .kviz_2,
    .modal_kviz_inner .kviz_3,
    .modal_kviz_inner .kviz_4,
    .modal_kviz_inner .kviz_5,
    .modal_kviz_inner .kviz_6,
    .modal_kviz_inner .kviz_7 {
        min-height: 500px;
    }

    .modal_kviz_inner .kviz_1_img,
    .modal_kviz_inner .kviz_2_img,
    .modal_kviz_inner .kviz_3_img,
    .modal_kviz_inner .kviz_4_img,
    .modal_kviz_inner .kviz_5_img,
    .modal_kviz_inner .kviz_6_img,
    .modal_kviz_inner .kviz_7_img {
        display: none;
    }

    .modal_kviz_inner {
        min-height: 500px;
    }
    .modal_kviz_inner .kviz_2_inner form label {
        flex-basis: 25%;
        padding: 15px 20px;
    }
    .modal_kviz_inner .kviz_2_inner h2 {
        margin-bottom: 20px;
    }
    .modal_kviz_inner .kviz_2_inner form {
        margin-bottom: 20px;
    }
    .modal_kviz_inner .kviz_5_inner .flex_kviz {
        width: 100%;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .modal_kviz_inner .kviz_5_inner .flex_kviz .flex_container {
        flex-basis: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        min-height: auto;
    }
    .modal_kviz_inner .kviz_5_inner .flex_kviz .flex_container label {
        margin-bottom: 20px;
        min-width: 150px;
        padding: 12px 20px;
        font-size: 16px;
    }
    .modal_kviz_inner .kviz_5_inner .flex_kviz .flex_container input {
        display: none;
    }
    .modal_kviz_inner {
        width: 95%;
    }
    .modal_kviz_inner .kviz_6_inner .podarki input {
        display: none;
    }
    .modal_kviz_inner .kviz_6_inner .podarki {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    .modal_kviz_inner .kviz_6_inner .podarki label {
        max-width: 30%;
    }
    .modal_kviz_inner .kviz_6_inner .podarki label img {
        max-width: 250px;
    }
    .modal_kviz_inner .kviz_6_inner {
        width: 100%;
    }
    .modal_kviz_inner .kviz_6_inner .podarki {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .modal_kviz_inner .kviz_6_inner .podarki label img {
        max-width: 200px;
        text-align: center;
    }
    .header_top .menu_inner {
        display: none;
    }
    .open_menu {
        z-index: 500;
        display: block;
        position: absolute;
        right: 50%;
        transform: translate(50%, 25px);
        width: 30px;
        height: 30px;
        background-color: #ffc800;
        box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
        border-radius: 50%    ;
        -webkit-border-radius: 50%    ;
        -moz-border-radius: 50%    ;
        -ms-border-radius: 50%    ;
        -o-border-radius: 50%    ;
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-transform: translate(50%, 25px);
        -moz-transform: translate(50%, 25px);
        -ms-transform: translate(50%, 25px);
        -o-transform: translate(50%, 25px);
}
    .open_menu span {
        display: block;
        width: 17px;
        height: 2px;
        background-color: #000;
        border-radius: 2px    ;
        -webkit-border-radius: 2px    ;
        -moz-border-radius: 2px    ;
        -ms-border-radius: 2px    ;
        -o-border-radius: 2px    ;
        position: relative;
}
    .open_menu span::before {
        content: '';
        width: 17px;
        height: 2px;
        background-color: #000;
        border-radius: 2px    ;
        -webkit-border-radius: 2px    ;
        -moz-border-radius: 2px    ;
        -ms-border-radius: 2px    ;
        -o-border-radius: 2px    ;
        position: absolute;
        top: 5px;
}
    .open_menu span::after {
        content: '';
        width: 17px;
        height: 2px;
        background-color: #000;
        border-radius: 2px    ;
        -webkit-border-radius: 2px    ;
        -moz-border-radius: 2px    ;
        -ms-border-radius: 2px    ;
        -o-border-radius: 2px    ;
        position: absolute;
        bottom: 5px;
}
    .footer .footer_menu {
        display: block;
        text-align: center;
    }
}

@media (max-width: 500px) {
    .modal_form_inner input {
        width: 95%;
    }
    .header_main  {
        padding-top: 100px;
    }
    .header_main h1 {
        font-size: 25px;
    }
    .header_main h2 {
        font-size: 20px;
    }
    .header_main .btn_modal {
        font-size: 16px;
        font-weight: 700;
    }  
    .best .main_best .square {
        left: 10px;
    } 
    .best .main_best h4 {
        left: 10px;
        font-size: 20px;
    }
    .best .main_best h3 {
        right: 10px;
        font-size: 18px;
    }
    .task_inner_2 {
        padding: 20px 10px;
    }
    .task_inner_2 .task_title::after {
        display: none;
    }
    .task_inner_2 .task_container {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .task_container_inner_1,
    .task_container_inner_2,
    .task_container_inner_3 {
        margin: 15px;
    }
    .task_inner_2 .btn_modal {
        font-size: 16px;
        font-weight: 700;
    }
    .task .task_2_title h2 {
        text-align: center;
        font-size: 20px;
    }
    .task .task_2_title h3 {
        text-align: center;
        font-size: 18px;
        margin-bottom: 50px;
    }
    .task .task_2_title h2 br,
    .task .task_2_title h3 br {
        display: none;
    }
    .work ul li img {
        margin-right: 20px;
    }
    .work ul li p {
        font-size: 16px;
    }
    .kviz {
        padding-top: 30px;
    }
    .footer form h2 {
        text-align: center;
    }
    .footer form::before {
        display: none;
    }
}


@media (max-width: 650px) {
    .modal_kviz_inner .kviz_6_inner .podarki label {
        max-width: 180px;
    }
    .modal_kviz_inner .kviz_2_inner form label {
        flex-basis: 40%;
    }
    .modal_kviz_inner .kviz_5_inner .flex_kviz .flex_container label {
        padding: 10px;
    }
}

@media (max-width: 500px) {
    .modal_kviz_inner .kviz_1_inner,
    .modal_kviz_inner .kviz_2_inner,
    .modal_kviz_inner .kviz_3_inner,
    .modal_kviz_inner .kviz_4_inner,
    .modal_kviz_inner .kviz_5_inner,
    .modal_kviz_inner .kviz_6_inner,
    .modal_kviz_inner .kviz_7_inner {
        width: 100%;
    }
    .modal_kviz_inner .kviz_6_inner .podarki label img {
        max-height: 100px;
    }
    .modal_kviz_inner .kviz_6_inner .podarki label {
        max-width: 30%;
        margin: 0 2px;
        font-size: 12px;
    }
    .modal_kviz_inner .kviz_6_inner .podarki {
        justify-content: center;
    }
    .modal_kviz_inner .kviz_1_inner h2 br {
        display: none;
    }
    .modal_kviz_inner .kviz_1_inner h2 {
        font-size: 24px;
    }
    .modal_kviz_inner .kviz_1_inner p br {
        display: none;
    }
    .modal_kviz_inner .kviz_1_inner p {
        font-size: 20px;
        margin-bottom: 40px;
    }
    .modal_kviz_inner .kviz_1_inner .kviz_btn_1 {
        padding: 15px 40px;
    }
    .modal_kviz_inner .kviz_2_inner form label {
        flex-basis: 100%;
        margin-bottom: 5px;
    }
    .modal_kviz_inner .kviz_2_inner form label {
        padding: 10px;
    }
    .modal_kviz_inner .kviz_2_inner h2 {
        font-size: 22px;
    }
    .modal_kviz_inner .kviz_2_inner .kviz_buttons .kviz_btn_2_prew,
    .modal_kviz_inner .kviz_2_inner .kviz_buttons .kviz_btn_2,
    .modal_kviz_inner .kviz_3_inner .kviz_buttons .kviz_btn_3_prew,
    .modal_kviz_inner .kviz_3_inner .kviz_buttons .kviz_btn_3,
    .modal_kviz_inner .kviz_4_inner .kviz_buttons .kviz_btn_4_prew,
    .modal_kviz_inner .kviz_4_inner .kviz_buttons .kviz_btn_4,
    .modal_kviz_inner .kviz_5_inner .kviz_buttons .kviz_btn_5_prew,
    .modal_kviz_inner .kviz_5_inner .kviz_buttons .kviz_btn_5,
    .modal_kviz_inner .kviz_6_inner .kviz_buttons .kviz_btn_6_prew,
    .modal_kviz_inner .kviz_6_inner .kviz_buttons .kviz_btn_6 {
        padding: 10px 20px;
        font-size: 16px;
    }
    .modal_kviz_inner .kviz_2_inner .kviz_buttons .kviz_btn_2 img,
    .modal_kviz_inner .kviz_2_inner .kviz_buttons .kviz_btn_2_prew img,
    .modal_kviz_inner .kviz_3_inner .kviz_buttons .kviz_btn_3 img,
    .modal_kviz_inner .kviz_3_inner .kviz_buttons .kviz_btn_3_prew img ,
    .modal_kviz_inner .kviz_4_inner .kviz_buttons .kviz_btn_4 img,
    .modal_kviz_inner .kviz_4_inner .kviz_buttons .kviz_btn_4_prew img ,
    .modal_kviz_inner .kviz_5_inner .kviz_buttons .kviz_btn_5 img,
    .modal_kviz_inner .kviz_5_inner .kviz_buttons .kviz_btn_5_prew img ,
    .modal_kviz_inner .kviz_6_inner .kviz_buttons .kviz_btn_6 img,
    .modal_kviz_inner .kviz_6_inner .kviz_buttons .kviz_btn_6_prew img  {
        margin-left: 2px;
        margin-right: 2px;
    }
    .modal_kviz_inner .kviz_5_inner .flex_kviz .flex_container {
        display: block;
    }
    .modal_kviz_inner .kviz_5_inner .flex_kviz .flex_container label {
        margin-bottom: 10px;
        font-size: 14px;
    }
    .modal_kviz_inner .kviz_5_inner h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .modal_kviz_inner .kviz_5_inner .flex_kviz {
        margin-bottom: 10px;
    }
}