* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  background-color: #25252d;
}

.header {
  padding: 10px 0 200px 0;
  background-image: url("../img/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #66616111;
}

.header_top .logo img {
  display: block;
  margin: 0 auto;
}

.header_top .menu_inner {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header_top .menu_inner li {
  margin-top: 35px;
}

.header_top .menu_inner li a {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.header_top .menu_inner li a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #cccccc;
}

.header_top .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 23px;
}

.header_top .contacts a {
  display: inline-block;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.header_top .contacts a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header_top .contacts .phons a {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.header_top .contacts .phons a:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  color: #cccccc;
}

.header_main {
  padding-top: 150px;
  text-align: center;
  color: #ffffff;
}

.header_main h1 {
  font-size: 35px;
  font-weight: 400;
  letter-spacing: 2.4px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.header_main h2 {
  font-size: 30px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 40px;
}

.header_main .btn_modal {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 37px;
  background-color: #ffc800;
  opacity: 0.9;
  color: #000000;
  padding: 20px 60px;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.header_main .btn_modal:hover {
  background-color: #ffce1a;
  padding: 20px 70px;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.advantages {
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 50px;
}

.advantages img {
  width: 100%;
}

.advantages_inner {
  padding-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.advantages_inner h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 15px;
}

.advantages_inner h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}

.advantages_inner .download {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 37px;
  background-color: #ffc800;
  opacity: 0.9;
  text-decoration: none;
  color: #000000;
  padding: 15px 50px;
  font-size: 24px;
  font-weight: 400;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.advantages_inner .download:hover {
  background-color: #ffce1a;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.portfolio {
  color: #ffffff;
  margin-bottom: 100px;
}

.portfolio_inner {
  padding: 30px 30px 30px 0;
  position: relative;
  margin-bottom: 50px;
}

.portfolio_inner::after {
  content: '';
  display: block;
  width: 1px;
  height: 100%;
  -webkit-box-shadow: 0 10px 13px #ecba06;
          box-shadow: 0 10px 13px #ecba06;
  background-color: #ffc800;
  opacity: 0.28;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.portfolio_inner h2 {
  text-align: right;
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 2.4px;
  margin-bottom: 20px;
}

.portfolio_inner h3 {
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.portfolio_card {
  min-height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 10px;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.portfolio_card:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.portfolio_card h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.portfolio_card p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.portfolio_card_1 {
  background-image: url("../img/card_1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.portfolio_card_2 {
  background-image: url("../img/card_2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.portfolio_card_3 {
  background-image: url("../img/card_3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.best {
  color: #ffffff;
}

.best_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}

.best_title h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 2.4px;
  margin-bottom: 30px;
}

.best_title .btn_modal {
  display: inline-block;
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 37px;
  background-color: #ffc800;
  opacity: 0.9;
  text-decoration: none;
  color: #000000;
  padding: 15px 50px;
  font-size: 24px;
  font-weight: 400;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  cursor: pointer;
}

.best_title .btn_modal:hover {
  background-color: #ffce1a;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.best .main_best {
  background-image: url("../img/main_best.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  min-height: 420px;
  position: relative;
}

.best .main_best .square {
  position: absolute;
  bottom: 50px;
  left: 40px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.best .main_best h3 {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.best .main_best h4 {
  position: absolute;
  left: 40px;
  bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.best_inner {
  margin-top: 60px;
  margin-bottom: 130px;
  border-radius: 10px;
  background-color: #1e1d23;
  padding-bottom: 15px;
}

.best_inner img {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

.best_inner .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

.best_inner .square span {
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
  display: inline-block;
}

.best_inner .square h3 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.best_inner h4 {
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
  padding: 0 15px;
  margin: 15px 0;
}

.best_inner p {
  padding: 0 15px;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
}

.task {
  padding-top: 400px;
  padding-bottom: 300px;
  background-image: url(../img/white_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.task_inner_1 {
  position: relative;
  z-index: 10;
  -webkit-transform: translateX(60px);
          transform: translateX(60px);
  margin-bottom: 200px;
}

.task_inner_1 img {
  width: 100%;
}

.task_inner_2 {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: 0 5px 16px rgba(58, 58, 56, 0.11);
          box-shadow: 0 5px 16px rgba(58, 58, 56, 0.11);
  border-radius: 15px;
  background-color: #ffffff;
  padding: 20px 30px 20px 60px;
  margin-bottom: 200px;
}

.task_inner_2 .task_title {
  position: relative;
}

.task_inner_2 .task_title h2 {
  color: #25252d;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}

.task_inner_2 .task_title h3 {
  color: #25252d;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.task_inner_2 .task_title::after {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  top: -10px;
  bottom: -20px;
  width: 1px;
  border: 1px solid #163e56;
}

.task_inner_2 .task_container {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.task_inner_2 .task_container img {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.task_inner_2 .task_container h4 {
  color: #25252d;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-bottom: 20px;
}

.task_inner_2 .task_container p {
  color: #25252d;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.task_inner_2 .task_container_inner_3 h4 {
  text-align: center;
}

.task_inner_2 .btn_modal {
  display: inline-block;
  margin: 0 auto;
  margin-top: 30px;
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 37px;
  background-color: #ffc800;
  opacity: 0.9;
  text-decoration: none;
  color: #000000;
  padding: 15px 50px;
  font-size: 24px;
  font-weight: 400;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  cursor: pointer;
}

.task_inner_2 .btn_modal:hover {
  background-color: #ffce1a;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.task .task_2 {
  background-image: url("../img/instrument_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 40px;
  padding-bottom: 30px;
  text-align: center;
}

.task .task_2_title {
  position: relative;
  padding-right: 60px;
}

.task .task_2_title::after {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  bottom: -10px;
  right: 0;
  width: 1px;
  background-color: #163e56;
}

.task .task_2_title h2 {
  text-align: right;
  color: #25252d;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}

.task .task_2_title h3 {
  text-align: right;
  color: #25252d;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 120px;
}

.task .task_2 .col-lg-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.task .task_2 .col-lg-4 .task_2_inner {
  -webkit-box-shadow: 0 10px 65px rgba(205, 166, 24, 0.17);
          box-shadow: 0 10px 65px rgba(205, 166, 24, 0.17);
  border-radius: 10px;
  background-color: #ffffff;
  opacity: 0.7;
  padding: 20px 10px;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.task .task_2 .col-lg-4 .task_2_inner ul {
  cursor: default;
}

.task .task_2 .col-lg-4 .task_2_inner ul li {
  list-style-type: none;
  color: #25252d;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.task .task_2 .col-lg-4 .task_2_inner:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0.95;
}

.task .task_2 .col-lg-4 .task_2_inner .btn_modal {
  display: inline-block;
  margin: 0 auto;
  margin-top: 30px;
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 37px;
  background-color: #ffc800;
  opacity: 0.9;
  text-decoration: none;
  color: #000000;
  padding: 10px 25px;
  font-size: 24px;
  font-weight: 400;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  cursor: pointer;
}

.task .task_2 .col-lg-4 .task_2_inner .btn_modal:hover {
  background-color: #ffce1a;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.work {
  background-image: url("../img/accordion_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-bottom: 100px;
  padding-top: 250px;
}

.work h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 2.4px;
  text-align: center;
  margin-bottom: 50px;
}

.work ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px 20px 20px 40px;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  cursor: default;
}

.work ul li img {
  display: inline-block;
  margin-right: 40px;
}

.work ul li p {
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}

.work ul li:hover {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.kviz {
  padding-top: 160px;
  margin-bottom: 130px;
}

.kviz img {
  width: 100%;
}

.kviz_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  color: #ffffff;
}

.kviz_inner h2 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1.2px;
  margin-bottom: 15px;
}

.kviz_inner h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}

.kviz_inner .download {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 37px;
  background-color: #ffc800;
  opacity: 0.9;
  text-decoration: none;
  color: #000000;
  padding: 15px 50px;
  font-size: 24px;
  font-weight: 400;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.kviz_inner .download:hover {
  background-color: #ffce1a;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.reviwes {
  color: #ffffff;
}

.reviwes img.video {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.reviwes_title {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: right;
  padding-right: 30px;
}

.reviwes_title h2 {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
}

.reviwes_title h2::after {
  content: '';
  display: block;
  position: absolute;
  top: -30px;
  right: -50px;
  bottom: -130px;
  width: 1px;
  -webkit-box-shadow: 0 10px 13px #ecba06;
          box-shadow: 0 10px 13px #ecba06;
  background-color: #ffc800;
  opacity: 0.28;
}

.reviwes_title h3 {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.reviwes_text {
  padding-top: 30px;
  margin-bottom: 100px;
}

.reviwes_text_inner {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  padding: 40px 20px;
}

.reviwes_text_inner img.fb {
  position: absolute;
  right: 20px;
  top: 20px;
}

.reviwes_text_inner .reviwes_text_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.reviwes_text_inner .reviwes_text_title img {
  display: block;
  margin-right: 20px;
}

.reviwes_text_inner .reviwes_text_title h2 {
  color: #adadad;
  font-size: 20px;
  font-weight: 700;
}

.reviwes_text_inner p {
  margin-top: 30px;
  color: #adadad;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.32px;
}

.footer {
  background-image: url("../img/footer_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0 0 0;
  position: relative;
  color: #ffffff;
}

.footer::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  -webkit-box-shadow: 0 10px 13px #ecba06;
          box-shadow: 0 10px 13px #ecba06;
  background-color: #ffc800;
  opacity: 0.28;
}

.footer img {
  display: block;
  margin: 0 auto;
}

.footer_first_tel {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 50px;
}

.footer ul {
  margin-bottom: 80px;
}

.footer ul li {
  list-style-type: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
}

.footer ul li h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.footer ul li a {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.footer ul li a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #cccccc;
}

.footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.footer form::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -15px;
  bottom: 5%;
  width: 1px;
  -webkit-box-shadow: 0 10px 13px #ecba06;
          box-shadow: 0 10px 13px #ecba06;
  background-color: #ffc800;
  opacity: 0.28;
}

.footer form h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
}

.footer form p {
  color: #8f8f8f;
  font-size: 18px;
  font-weight: 400;
  line-height: 20.19px;
  text-align: center;
  margin-bottom: 40px;
}

.footer form input {
  border-radius: 10px;
  border: 1px solid #ffffff;
  opacity: 0.6;
  padding: 15px 25px;
  color: #676767;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  display: block;
  width: 80%;
  margin-bottom: 35px;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  background: transparent;
}

.footer form input:focus {
  padding: 15px 30px;
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  -webkit-box-shadow: 8px 0 40px rgba(234, 185, 5, 0.46);
          box-shadow: 8px 0 40px rgba(234, 185, 5, 0.46);
}

.footer form button {
  display: inline-block;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 37px;
  background-color: #ffc800;
  opacity: 0.9;
  text-decoration: none;
  color: #000000;
  padding: 15px 50px;
  font-size: 24px;
  font-weight: 400;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  cursor: pointer;
}

.footer form button:hover {
  background-color: #ffce1a;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  padding: 15px 60px;
}

.footer_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_social a {
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
}

.footer_social a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.footer_social a img {
  margin: 0 10px;
}

.large-invisible {
  display: none;
}

.open_menu {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000e7;
  z-index: 1000;
}

.modal_menu {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.modal_menu img {
  margin-bottom: 50px;
}

.modal_menu .close_modal_1 {
  font-size: 25px;
  margin: 20px 0;
  color: #fff;
  cursor: pointer;
}

.modal_menu_inner li {
  list-style-type: none;
  margin-bottom: 10px;
}

.modal_menu_inner li a {
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  color: #ffffff;
}

.modal_menu .phons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal_menu .phons a {
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
  color: #ffffff;
}

.modal_menu .img_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal_menu .img_links img {
  margin: 20px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffc800;
  border-radius: 6px;
}

.modal_form {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000e7;
  z-index: 1000;
}

.modal_form_inner {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.modal_form_inner input {
  border-radius: 10px;
  border: 1px solid #ffffff;
  opacity: 0.6;
  padding: 15px 25px;
  color: #676767;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  display: block;
  width: 40%;
  margin-bottom: 35px;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  background: transparent;
}

.modal_form_inner input:focus {
  padding: 15px 30px;
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  -webkit-box-shadow: 8px 0 40px rgba(234, 185, 5, 0.46);
          box-shadow: 8px 0 40px rgba(234, 185, 5, 0.46);
}

.modal_form_inner button {
  display: inline-block;
  border: none;
  outline: none;
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 37px;
  background-color: #ffc800;
  opacity: 0.9;
  text-decoration: none;
  color: #000000;
  padding: 15px 50px;
  font-size: 24px;
  font-weight: 400;
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  cursor: pointer;
}

.modal_form_inner button:hover {
  background-color: #ffce1a;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  padding: 15px 60px;
}

.modal_form_inner .close_modal_2 {
  font-size: 30px;
  margin: 20px 0;
  color: #fff;
  cursor: pointer;
}

.modal_kviz {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  z-index: 100;
}

.modal_kviz_inner {
  width: 90%;
  max-width: 1400px;
  min-height: 550px;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
}

.modal_kviz_inner .kviz_1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
}

.modal_kviz_inner .kviz_1_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  text-align: center;
}

.modal_kviz_inner .kviz_1_inner h2 {
  color: #25252d;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.modal_kviz_inner .kviz_1_inner p {
  color: #25252d;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 70px;
}

.modal_kviz_inner .kviz_1_inner .kviz_btn_1 {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 37px;
  background-color: #ffc800;
  opacity: 0.9;
  padding: 25px 90px;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.modal_kviz_inner .kviz_1_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 500px;
  background-image: url("../img/kviz_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 30px 30px;
}

.modal_kviz_inner .kviz_1_img .kviz_info {
  text-align: center;
  width: 100%;
  border-radius: 0 0 30px;
  background-color: #ffcd19;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.modal_kviz_inner .kviz_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  min-height: 500px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
}

.modal_kviz_inner .kviz_2_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  text-align: center;
}

.modal_kviz_inner .kviz_2_inner h2 {
  color: #25252d;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.modal_kviz_inner .kviz_2_inner form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.modal_kviz_inner .kviz_2_inner form label {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 33px;
  border: 2px solid #b8b8b8;
  opacity: 0.9;
  padding: 20px 40px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 40px;
  color: #25252d;
  font-size: 21px;
  font-weight: 400;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  cursor: pointer;
}

.modal_kviz_inner .kviz_2_inner form img {
  display: block;
  margin-right: 20px;
}

.modal_kviz_inner .kviz_2_inner form input {
  -webkit-appearance: none;
}

.modal_kviz_inner .kviz_2_inner form input:checked + label {
  background-color: #ffc800;
}

.modal_kviz_inner .kviz_2_inner .kviz_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal_kviz_inner .kviz_2_inner .kviz_buttons .kviz_btn_2_prew {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 26px;
  border: 1px solid #c4c4c4;
  opacity: 0.9;
  padding: 20px 60px;
  color: #d2d2d2;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.modal_kviz_inner .kviz_2_inner .kviz_buttons .kviz_btn_2_prew img {
  margin-right: 20px;
}

.modal_kviz_inner .kviz_2_inner .kviz_buttons .kviz_btn_2 {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 26px;
  background-color: #ffc800;
  opacity: 0.9;
  padding: 20px 60px;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.modal_kviz_inner .kviz_2_inner .kviz_buttons .kviz_btn_2 img {
  margin-left: 20px;
}

.modal_kviz_inner .kviz_2_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 500px;
  background-image: url("../img/kviz_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 30px 30px;
}

.modal_kviz_inner .kviz_2_img .kviz_info {
  text-align: center;
  width: 100%;
  border-radius: 0 0 30px;
  background-color: #ffcd19;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.modal_kviz_inner .kviz_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  min-height: 500px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
}

.modal_kviz_inner .kviz_3_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  text-align: center;
}

.modal_kviz_inner .kviz_3_inner h2 {
  color: #25252d;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.modal_kviz_inner .kviz_3_inner .input_min_max {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #dfdfdf;
  font-size: 25px;
  font-weight: 400;
}

.modal_kviz_inner .kviz_3_inner .input_value {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 31px;
  border: 1px solid #c4c4c4;
  opacity: 0.9;
  padding: 20px 100px;
  color: #25252d;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 70px;
}

.modal_kviz_inner .kviz_3_inner input {
  -webkit-appearance: none;
  width: 80%;
  height: 8px;
  background-color: #c4c4c4;
  outline: none;
}

.modal_kviz_inner .kviz_3_inner input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 35px;
  height: 35px;
  background-color: #ffcd19;
  border-radius: 50%;
  border: 9px solid #25252d;
  cursor: move;
}

.modal_kviz_inner .kviz_3_inner .kviz_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal_kviz_inner .kviz_3_inner .kviz_buttons .kviz_btn_3_prew {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 26px;
  border: 1px solid #c4c4c4;
  opacity: 0.9;
  padding: 20px 60px;
  color: #d2d2d2;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.modal_kviz_inner .kviz_3_inner .kviz_buttons .kviz_btn_3_prew img {
  margin-right: 20px;
}

.modal_kviz_inner .kviz_3_inner .kviz_buttons .kviz_btn_3 {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 26px;
  background-color: #ffc800;
  opacity: 0.9;
  padding: 20px 60px;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.modal_kviz_inner .kviz_3_inner .kviz_buttons .kviz_btn_3 img {
  margin-left: 20px;
}

.modal_kviz_inner .kviz_3_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 500px;
  background-image: url("../img/kviz_3.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 30px 30px;
}

.modal_kviz_inner .kviz_3_img .kviz_info {
  text-align: center;
  width: 100%;
  border-radius: 0 0 30px;
  background-color: #ffcd19;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.modal_kviz_inner .kviz_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  min-height: 500px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
}

.modal_kviz_inner .kviz_4_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  text-align: center;
}

.modal_kviz_inner .kviz_4_inner h2 {
  color: #25252d;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.modal_kviz_inner .kviz_4_inner label {
  display: block;
  width: 60%;
  margin-bottom: 40px;
  color: #25252d;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.modal_kviz_inner .kviz_4_inner label::before {
  content: '';
  display: block;
  position: absolute;
  left: -50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #c4c4c4;
}

.modal_kviz_inner .kviz_4_inner input {
  -webkit-appearance: none;
}

.modal_kviz_inner .kviz_4_inner input:checked + label::before {
  background-color: #ffc800;
}

.modal_kviz_inner .kviz_4_inner .kviz_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal_kviz_inner .kviz_4_inner .kviz_buttons .kviz_btn_4_prew {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 26px;
  border: 1px solid #c4c4c4;
  opacity: 0.9;
  padding: 20px 60px;
  color: #d2d2d2;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.modal_kviz_inner .kviz_4_inner .kviz_buttons .kviz_btn_4_prew img {
  margin-right: 20px;
}

.modal_kviz_inner .kviz_4_inner .kviz_buttons .kviz_btn_4 {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 26px;
  background-color: #ffc800;
  opacity: 0.9;
  padding: 20px 60px;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.modal_kviz_inner .kviz_4_inner .kviz_buttons .kviz_btn_4 img {
  margin-left: 20px;
}

.modal_kviz_inner .kviz_4_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 500px;
  background-image: url("../img/kviz_4.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 30px 30px;
}

.modal_kviz_inner .kviz_4_img .kviz_info {
  text-align: center;
  width: 100%;
  border-radius: 0 0 30px;
  background-color: #ffcd19;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.modal_kviz_inner .kviz_5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  min-height: 500px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
}

.modal_kviz_inner .kviz_5_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  text-align: center;
}

.modal_kviz_inner .kviz_5_inner h2 {
  color: #25252d;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.modal_kviz_inner .kviz_5_inner .flex_kviz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
}

.modal_kviz_inner .kviz_5_inner .flex_kviz .flex_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 200px;
  -ms-flex-preferred-size: 33.33%;
      flex-basis: 33.33%;
}

.modal_kviz_inner .kviz_5_inner .flex_kviz .flex_container label {
  display: block;
  text-align: center;
  border-radius: 26px;
  border: 2px solid #b8b8b8;
  background-color: #ffffff;
  padding: 15px 0;
  min-width: 240px;
  color: #25252d;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 60px;
  cursor: pointer;
}

.modal_kviz_inner .kviz_5_inner .flex_kviz .flex_container input {
  -webkit-appearance: none;
}

.modal_kviz_inner .kviz_5_inner .flex_kviz .flex_container input:checked + label {
  background-color: #ffc800;
}

.modal_kviz_inner .kviz_5_inner .kviz_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal_kviz_inner .kviz_5_inner .kviz_buttons .kviz_btn_5_prew {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 26px;
  border: 1px solid #c4c4c4;
  opacity: 0.9;
  padding: 20px 60px;
  color: #d2d2d2;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.modal_kviz_inner .kviz_5_inner .kviz_buttons .kviz_btn_5_prew img {
  margin-right: 20px;
}

.modal_kviz_inner .kviz_5_inner .kviz_buttons .kviz_btn_5 {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 26px;
  background-color: #ffc800;
  opacity: 0.9;
  padding: 20px 60px;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.modal_kviz_inner .kviz_5_inner .kviz_buttons .kviz_btn_5 img {
  margin-left: 20px;
}

.modal_kviz_inner .kviz_5_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 500px;
  background-image: url("../img/kviz_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 30px 30px;
}

.modal_kviz_inner .kviz_5_img .kviz_info {
  text-align: center;
  width: 100%;
  border-radius: 0 0 30px;
  background-color: #ffcd19;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.modal_kviz_inner .kviz_6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  min-height: 500px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
}

.modal_kviz_inner .kviz_6_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  text-align: center;
}

.modal_kviz_inner .kviz_6_inner h2 {
  color: #25252d;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.modal_kviz_inner .kviz_6_inner .podarki {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
}

.modal_kviz_inner .kviz_6_inner .podarki label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 10px;
  color: #25252d;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  border: 2px solid transparent;
  cursor: pointer;
}

.modal_kviz_inner .kviz_6_inner .podarki label img {
  display: block;
  margin-bottom: 20px;
}

.modal_kviz_inner .kviz_6_inner .podarki input {
  -webkit-appearance: none;
}

.modal_kviz_inner .kviz_6_inner .podarki input:checked + label {
  border: 2px solid #ffc800;
}

.modal_kviz_inner .kviz_6_inner .kviz_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.modal_kviz_inner .kviz_6_inner .kviz_buttons .kviz_btn_6_prew {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 26px;
  border: 1px solid #c4c4c4;
  opacity: 0.9;
  padding: 20px 60px;
  color: #d2d2d2;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.modal_kviz_inner .kviz_6_inner .kviz_buttons .kviz_btn_6_prew img {
  margin-right: 20px;
}

.modal_kviz_inner .kviz_6_inner .kviz_buttons .kviz_btn_6 {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 26px;
  background-color: #ffc800;
  opacity: 0.9;
  padding: 20px 60px;
  color: #000000;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1.26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.modal_kviz_inner .kviz_6_inner .kviz_buttons .kviz_btn_6 img {
  margin-left: 20px;
}

.modal_kviz_inner .kviz_6_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 500px;
  background-image: url("../img/kviz_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 30px 30px;
}

.modal_kviz_inner .kviz_6_img .kviz_info {
  text-align: center;
  width: 100%;
  border-radius: 0 0 30px;
  background-color: #ffcd19;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.modal_kviz_inner .kviz_7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  min-height: 500px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.6s ease all;
  transition: 0.6s ease all;
}

.modal_kviz_inner .kviz_7_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  text-align: center;
}

.modal_kviz_inner .kviz_7_inner h2 {
  color: #25252d;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.5px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.modal_kviz_inner .kviz_7_inner form {
  min-width: 300px;
}

.modal_kviz_inner .kviz_7_inner form input {
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 50px;
  color: #676767;
  font-size: 20px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal_kviz_inner .kviz_7_inner form input:focus {
  border-bottom: 1px solid #ffcd19;
}

.modal_kviz_inner .kviz_7_inner form button {
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  border-radius: 26px;
  background-color: #ffc800;
  opacity: 0.9;
  padding: 15px 40px;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.2px;
  border: none;
  outline: none;
  cursor: pointer;
}

.modal_kviz_inner .kviz_7_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 500px;
  background-image: url("../img/kviz_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 30px 30px;
}

.modal_kviz_inner .kviz_7_img .kviz_info {
  text-align: center;
  width: 100%;
  border-radius: 0 0 30px;
  background-color: #ffcd19;
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1.2px;
}

.kviz_open {
  position: fixed;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
  top: 65%;
  left: 0px;
  padding: 10px;
  background-color: #ffcd19;
  -webkit-box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
          box-shadow: 0 8px 40px rgba(234, 185, 5, 0.46);
  color: #000;
  font-size: 22px;
  z-index: 1;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */