@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria.eot');
	src: local('Geometria'),
		url('../fonts/Geometria.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria.woff') format('woff'),
		url('../fonts/Geometria.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria-bold';
	src: url('../fonts/Geometria-ExtraBold.eot');
	src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
		url('../fonts/Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Geometria-ExtraBold.woff') format('woff'),
		url('../fonts/Geometria-ExtraBold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Geometria', sans-serif;
    box-sizing: border-box;
}

.content {
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    max-height: 600px;
    position: relative;
    padding-top: 21px;
    overflow: hidden;
}

.content .circle {
    display: block;
    margin: 0 auto 23px auto;
    animation: rotate 1s linear infinite;
    -webkit-animation: rotate 1s linear infinite;
}

.hello {
    background-image: url('../img/hello_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.menu {
    background-image: url('../img/serv_menu_bg.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.content .phone {
    opacity: 0.6;
    color: #ffffff;
    font-family: 'Geometria-bold', sans-serif;
    font-size: 13px;
    font-weight: 700;
    margin-right: 23px;
    margin-bottom: 85px;
    letter-spacing: 0.58px;
    text-align: right;
}

.content h1 {
    text-align: center;
    color: #fff;
    font-family: 'Geometria-bold', sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 49px;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    position: relative;
    margin-bottom: 32px;
}

.content h1::after {
    content: '';
    display: block;
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -14px;
    left: 50%;
    opacity: 0.85;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.content h2 {
    color: #fff;
    /* font-family: Geometria; */
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 83px;
}

.content .table {
    width: 92%;
    max-width: 800px;
    height: 215px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.21);
    border-radius: 15px;
    background-color: #ffffff;
    position: absolute;
    bottom: -15px;
    left: 50%;
    padding: 25px 20px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.content .table h3 {
    text-align: center;
    opacity: 0.85;
    color: #000000;
    font-family: 'Geometria-bold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.91px;
    margin-bottom: 30px;
}

.content .table ul.columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.content .table ul.columns ul.rows {
    flex-basis: 30%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .table ul.columns ul.rows li {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 13px;
}

.content .table ul.columns ul.rows li .img_container {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .table ul.columns ul.rows li span.time {
    opacity: 0.5;
    color: #000000;
    /* font-family: Geometria; */
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.27px;
    display: block;
    margin-right: 20px;
    margin-left: 15px;
}

.content .table ul.columns ul.rows li span.text {
    color: #000000;
    /* font-family: Geometria; */
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.27px;
}

.menu h1 {
    text-align: center;
    margin-top: 30px;
    color: #000;
    font-family: 'Geometria-bold', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.35px;
    margin-bottom: 70px;
}

.menu .btns {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    margin: 0 auto;
}

.menu .btns .btn {
    outline: none;
    border: none;
    color: #ffffff;
    font-family: 'Geometria-bold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.35px;
    width: 224px;
    height: 53px;
    box-shadow: 5px 6px 21px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    background-color: #69beff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    cursor: pointer;
}

.menu .btns .btn:hover,
.menu .btns .btn:focus,
.menu .btns .btn:active {
    background-color: #8dceff;
}

.menu .btns .btn:last-child {
    box-shadow: 5px 6px 21px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    color: #474747;
}

.menu .btns .btn:last-child:hover,
.menu .btns .btn:last-child:focus,
.menu .btns .btn:last-child:active {
    box-shadow: 5px 6px 21px rgba(0, 0, 0, 0.3);
    
}

.vidan {
    background-image: url('../img/terminal_vidan.png');
    background-size: cover;
    background-repeat: no-repeat;    
}

.vozvrashen {
    background-image: url('../img/terminal_vozvrashen.png');
    background-size: cover;
    background-repeat: no-repeat;   
}

.avtorisaciya {
    background-image: url('../img/avtorisaciya.png');
    background-size: cover;
    background-repeat: no-repeat; 
}

.vozmite {
    background-image: url('../img/nomer.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.ne_vidan {
    background-image: url('../img/ne_vidan.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.na_rukah {
    background-image: url('../img/na_rukah.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.ready {
    padding-top: 100px;
    background-image: url('../img/ready.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.vidan h1,
.vozvrashen h1,
.avtorisaciya h1,
.vozmite h1,
.ne_vidan h1,
.na_rukah h1,
.ready h1 {
    text-align: left;
    padding-left: 50px;
    color: #474747;
    font-family: 'Geometria-bold', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.35px;
}

.vidan .table,
.vozvrashen .table,
.avtorisaciya .table,
.vozmite .table,
.ne_vidan .table,
.na_rukah .table,
.ready .table {
    max-width: 100%;
    width: 100%;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.vidan .phone,
.vozvrashen .phone,
.avtorisaciya .phone,
.vozmite .phone,
.ne_vidan .phone,
.na_rukah .phone {
    opacity: 0.4;
    color: #000000;
    font-family: 'Geometria-bold', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.58px;
}

.vidan h1::after,
.vozvrashen h1::after,
.avtorisaciya h1::after,
.vozmite h1::after,
.ne_vidan h1::after,
.na_rukah h1::after,
.ready h1::after {
    content: '';
    display: block;
    position: absolute;
    left: 50px;
    bottom: -12px;
    transform: translateX(0);
    width: 18px;
    height: 2px;
    background-color: #97d2ff;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}

.ready img {
    display: block;
    padding-left: 50px;
    margin-bottom: 16px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
}
    50% {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
}
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}

.content .img_container_2 {
    width: 68px;
    height: 68px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 19px 23px 80px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50px;
    right: 50px;
}

.units h1 {
    margin-bottom: 40px;
}

.units h1::after {
    display: none;
}

.units h2 {
    color: #97d2ff;
    /* font-family: Geometria; */
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.35px;
    margin-bottom: 20px;
}

.units .single_units_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    max-width: 700px;
    margin: 0 auto;
    opacity: 0;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
}

.units .single_units_list li {
    width: 328px;
    height: 45px;   
    box-shadow: 5px 6px 21px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 45%;
    margin-bottom: 11px;
    opacity: 0.7;
    color: #000000;
    /* font-family: Geometria; */
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.28px;
}

.units .buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.units .buttons .next {
    width: 221px;
    height: 71px;
    box-shadow: 5px 6px 21px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    background-color: #69beff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: 'Geometria-bold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.35px;
    cursor: pointer;
}

.units .buttons .prew {
    width: 238px;
    height: 71px;
    box-shadow: 5px 6px 21px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    border: 3px solid #69beff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #69beff;
    font-family: 'Geometria-bold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.35px;
    cursor: pointer;
}

.units .buttons .wrappers {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Geometria-bold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.units .buttons .wrappers div {
    color: #b3b3b3;
    padding: 5px;
    cursor: pointer;
}

.units .buttons .wrappers .active {
    color: #474747;
}

.units .active_list {
    opacity: 1;
}



@media (min-width: 801px) {
    .vidan .table,
    .vozvrashen .table,
    .avtorisaciya .table,
    .vozmite .table,
    .ne_vidan .table,
    .na_rukah .table,
    .ready .table {
            height: 245px;
        }
    .units .buttons {
        bottom: 30px;
    }
    .units h1 {
        margin-bottom: 70px;
    }
}