* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-x: hidden;
}

.calc {
  background-color: #f5f6f6;
  padding-top: 100px;
  padding-bottom: 190px;
}

.calc h2.calc_title {
  color: #060606;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 30px;
  position: relative;
  z-index: 5;
}

.calc h2.calc_title::after {
  content: '';
  margin-top: 15px;
  display: block;
  width: 122px;
  height: 5px;
  background-color: #f70819;
}

.calc p {
  color: #000709;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
  position: relative;
  z-index: 5;
}

.calc .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 5;
}

.calc .flex-container img {
  margin-right: 20px;
  position: relative;
}

.calc .flex-container h3 {
  color: #000709;
  font-weight: 700;
  font-size: 24px;
}

.calc .flex-container h3 span {
  font-size: 16px;
  font-weight: 400;
}

.calc .form {
  position: relative;
}

.calc .form img {
  display: block;
  margin-top: 50px;
  -webkit-transform: translateX(-270px);
          transform: translateX(-270px);
  z-index: 2;
}

.calc .form_inner {
  z-index: 5;
  position: absolute;
  top: -30px;
  left: 160px;
  right: 25px;
  background-image: url("../img/form_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  padding: 25px 15px;
  text-align: center;
}

.calc .form_inner form img {
  position: absolute;
  bottom: 70px;
  right: -40px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.calc .form_inner form h2 {
  color: #000709;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 18px;
}

.calc .form_inner form h2 span {
  color: #fe0303;
}

.calc .form_inner form input[type="text"] {
  display: block;
  width: 80%;
  margin: 0 auto;
  background-color: #f5f6f6;
  color: #000709;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 15px;
  border: none;
  outline: none;
  margin-bottom: 15px;
}

.calc .form_inner form button {
  display: block;
  -webkit-box-shadow: 0 6px 11px 1px #ffe182, 0 3px 0 #f9c82e;
          box-shadow: 0 6px 11px 1px #ffe182, 0 3px 0 #f9c82e;
  border-radius: 32px;
  background-color: #f9d903;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(250, 137, 4, 0.86)), to(rgba(251, 250, 250, 0)));
  background-image: linear-gradient(to top, rgba(250, 137, 4, 0.86) 0%, rgba(251, 250, 250, 0) 100%);
  padding: 20px 50px;
  color: #070000;
  font-size: 24px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
  width: 80%;
  margin: 0 auto;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
  margin-bottom: 20px;
}

.calc .form_inner form button:hover {
  background-color: #f9af03;
}

.calc .form_inner form label {
  text-align: left;
  color: #000709;
  font-size: 12px;
  font-weight: 400;
  display: block;
  text-align: center;
  position: relative;
  margin-bottom: 25px;
}

.calc .form_inner form label::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -15px;
  left: -15px;
  right: -15px;
  background-color: #8f9797;
  height: 1px;
}

.calc .form_inner form label a.policy {
  color: #000709;
  font-size: 12px;
  font-weight: 400;
}

.calc .form_inner p {
  color: #000709;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.calc .form_inner p a {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */