* {
  font-family: "Gilroy-Light";
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "Gilroy-ExtraBold";
  margin: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (max-width: 1500px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1300px) {
  .container {
    max-width: 1000px;
  }
}

@media (max-width: 1100px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header {
  background-color: #ffffff;
  padding-top: 35px;
  padding-bottom: 35px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 490px;
  list-style: none;
  padding-left: 0;
}

.header-menu ul li {
  color: #3f4567;
  font-family: "Gilroy-Light";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.4px;
  position: relative;
}

.header-menu ul li::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: #ff5476;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.header-menu ul li:hover::after {
  width: 100%;
}

.header-menu .phone {
  padding: 13px 22px;
  padding-left: 59px;
  border-radius: 20px;
  background-color: #fff4fa;
  color: #3f4567;
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.45px;
  position: relative;
}

.header-menu .phone .circle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 22px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  -webkit-box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
          box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
  background-color: #02a6ed;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fd6585), to(#ffd3a5));
  background-image: linear-gradient(to top, #fd6585 0%, #ffd3a5 100%);
}

.header-menu .phone .circle::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  left: 50%;
  background-image: url(../img/icon-phone.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.header-menu .mobile-menu {
  display: none;
}

.first-screen {
  margin-top: 126px;
  padding-top: 100px;
  padding-bottom: 165px;
  position: relative;
  width: 100%;
}

.first-screen__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.first-screen__top--block h1 {
  color: #3f4567;
  font-family: "Gilroy-ExtraBold";
  font-size: 40px;
  font-weight: 400;
  line-height: 54px;
  margin-bottom: 40px;
}

.first-screen__top--block h2 {
  color: #3f4567;
  font-family: "Gilroy-ExtraBold";
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 36px;
}

.first-screen__top--block ul {
  list-style: none;
  padding-left: 26px;
  margin-bottom: 47px;
}

.first-screen__top--block ul li {
  position: relative;
  color: #3f4567;
  font-family: "Gilroy-Light";
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 23px;
}

.first-screen__top--block ul li::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -26px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  -webkit-box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
          box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
  background-color: #000000;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fd6585), to(#ffd3a5));
  background-image: linear-gradient(to top, #fd6585 0%, #ffd3a5 100%);
}

.first-screen__top--block .btn {
  display: block;
  padding: 30px 60px;
  border-radius: 38px;
  background-color: #fd0b4a;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fd6585), to(#ffd3a5));
  background-image: linear-gradient(to top, #fd6585 0%, #ffd3a5 100%);
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  font-family: "Gilroy-ExtraBold";
  font-weight: 400;
  max-width: 320px;
  text-align: center;
  cursor: pointer;
}

.first-screen__top--block .btn span {
  font-family: "Gilroy-Light";
  font-weight: 300;
}

.first-screen .container {
  position: relative;
}

.first-screen__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: -290px;
  background-color: transparent;
  width: 100%;
}

.first-screen__bottom--card {
  width: 320px;
  height: 180px;
  -webkit-box-shadow: 0 48px 87px rgba(255, 84, 118, 0.07);
          box-shadow: 0 48px 87px rgba(255, 84, 118, 0.07);
  border-radius: 10px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.first-screen__bottom--card .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #ff5476;
}

.first-screen__bottom--card p {
  color: #3f4567;
  font-family: "Gilroy-Light";
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.4px;
}

.about {
  margin-top: 330px;
}

.about h2 {
  color: #3f4567;
  font-family: "Gilroy-ExtraBold";
  font-size: 40px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  margin-bottom: 130px;
}

.about h2::after {
  content: '';
  position: absolute;
  bottom: -55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 175px;
  height: 30px;
  background-image: url(../img/after-title.png);
}

.about .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .container .about-block {
  width: 50%;
}

.about .container .about-block:nth-child(1) {
  position: relative;
}

.about .container .about-block:nth-child(1) .bg-man {
  max-width: 100%;
}

.about .container .about-block:nth-child(1) .search-block {
  position: absolute;
  top: 0;
  right: 50px;
  width: 187px;
  height: 295px;
  -webkit-box-shadow: 0 25px 92px rgba(255, 84, 118, 0.27);
          box-shadow: 0 25px 92px rgba(255, 84, 118, 0.27);
  border-radius: 10px;
  background-color: #ffffff;
  padding: 25px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .container .about-block:nth-child(1) .search-block .icon-search {
  position: absolute;
  top: -17px;
  right: -16px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  -webkit-box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
          box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #fd6585 0%, #ffd3a5 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.about .container .about-block:nth-child(1) .search-block p {
  margin-top: 20px;
  color: #3f4567;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  font-family: "Gilroy-Light";
  font-weight: 300;
}

.about .container .about-block:nth-child(1) .search-block p span {
  font-size: 14px;
  font-weight: 300;
  line-height: 17px;
  font-family: "Gilroy-ExtraBold";
  font-weight: 400;
}

.about .container .about-block:nth-child(2) p {
  color: #3f4567;
  font-family: "Gilroy-Light";
  font-size: 18px;
  font-weight: 300;
  line-height: 27px;
  letter-spacing: 0.45px;
}

.components {
  margin-bottom: 105px;
}

.components h2 {
  text-align: center;
  color: #3f4567;
  font-family: "Gilroy-ExtraBold";
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 40px;
}

.components .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 58px;
}

.components .container .card {
  width: calc( (100% - 60px) / 4);
  min-height: 210px;
  -webkit-box-shadow: 0 0 87px rgba(255, 84, 118, 0.14);
          box-shadow: 0 0 87px rgba(255, 84, 118, 0.14);
  border-radius: 10px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 35px;
  padding-top: 30px;
  margin-bottom: 20px;
}

.components .container .card p {
  margin: 0;
  color: #3f4567;
  font-family: "Gilroy-Light";
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.components .btn {
  display: block;
  margin: 0 auto;
  padding: 30px 60px;
  border-radius: 38px;
  background-color: #fd0b4a;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fd6585), to(#ffd3a5));
  background-image: linear-gradient(to top, #fd6585 0%, #ffd3a5 100%);
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  font-family: "Gilroy-ExtraBold";
  font-weight: 400;
  max-width: 320px;
  text-align: center;
  cursor: pointer;
}

.components .btn span {
  font-family: "Gilroy-Light";
  font-weight: 300;
}

.reviews {
  background-image: url(../img/bg-reviews.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  padding-top: 135px;
  padding-bottom: 120px;
  margin-bottom: 150px;
}

.reviews h2 {
  text-align: center;
  color: #3f4567;
  font-family: "Gilroy-ExtraBold";
  font-size: 36px;
  font-weight: 400;
  line-height: 46px;
  position: relative;
  margin-bottom: 100px;
}

.reviews h2::after {
  content: '';
  position: absolute;
  bottom: -55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 175px;
  height: 30px;
  background-image: url(../img/after-title.png);
}

.reviews .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews .container .video-card {
  width: calc( (100% - 210px) / 4);
  height: 250px;
  -webkit-box-shadow: 0 0 87px rgba(66, 59, 51, 0.14);
          box-shadow: 0 0 87px rgba(66, 59, 51, 0.14);
  border-radius: 20px;
  background-color: #ffffff;
  margin-bottom: 80px;
  position: relative;
}

.reviews .container .video-card p {
  text-align: center;
  margin: 0;
  margin-top: 24px;
  color: #3f4567;
  font-family: "Gilroy-ExtraBold";
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.reviews .container .video-card img.prewyu {
  width: 100%;
  height: 186px;
}

.reviews .container .video-card .play-icon {
  position: absolute;
  left: 50%;
  top: 60px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  width: 71px;
  height: 71px;
  -webkit-box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
          box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #fd6585 0%, #ffd3a5 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
}

.reviews .container .video-card .play-icon .animate {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 113px;
  height: 113px;
  -webkit-box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
          box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
  background-color: #350818;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fd6585), to(#ffd3a5));
  background-image: linear-gradient(to top, #fd6585 0%, #ffd3a5 100%);
  opacity: 0.8;
  border-radius: 50%;
  -webkit-animation: pulse 2s linear 0s infinite normal none;
          animation: pulse 2s linear 0s infinite normal none;
  z-index: -1;
}

.reviews .container .video-card .play-icon img {
  z-index: 4;
}

.accordion {
  margin-bottom: 200px;
}

.accordion h2 {
  color: #3f4567;
  font-family: "Gilroy-ExtraBold";
  font-size: 44px;
  font-weight: 400;
  line-height: 53px;
  position: relative;
  margin-bottom: 100px;
  text-align: center;
}

.accordion h2::after {
  content: '';
  position: absolute;
  bottom: -55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 175px;
  height: 30px;
  background-image: url(../img/after-title.png);
}

.accordion-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.accordion-inner__block {
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 0 59px rgba(255, 84, 118, 0.13);
          box-shadow: 0 0 59px rgba(255, 84, 118, 0.13);
  width: 100%;
}

.accordion-inner__block--header {
  width: 100%;
  max-width: 960px;
  height: 90px;
  border-radius: 10px;
  background-color: #ffffff;
  padding-left: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.accordion-inner__block--header h3 {
  color: #3f4567;
  font-family: "Gilroy-Light";
  font-size: 20px;
  font-weight: 300;
  padding-top: 35px;
  padding-bottom: 35px;
}

.accordion-inner__block--header h3 span {
  color: #ff5476;
  font-family: "Gilroy-ExtraBold";
  font-weight: 400;
}

.accordion-inner__block--header .accordion-button {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 35px;
  padding-left: 40px;
  border-radius: 10px;
  background-color: #fff4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3f4567;
  font-family: "Gilroy-Light";
  font-size: 14px;
  font-weight: 300;
}

.accordion-inner__block--header .accordion-button img {
  margin-left: 10px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

.accordion-inner__block--body {
  width: 100%;
  max-width: 960px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 35px 35px 50px 65px;
  display: none;
}

.accordion-inner__block--body p {
  color: #3f4567;
  font-family: "Gilroy-Light";
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

.accordion-inner__block--body p span {
  color: #ff5476;
  font-family: "Gilroy-ExtraBold";
  font-size: 20px;
  font-weight: 400;
}

.accordion .btn {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 30px 60px;
  border-radius: 38px;
  background-color: #fd0b4a;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fd6585), to(#ffd3a5));
  background-image: linear-gradient(to top, #fd6585 0%, #ffd3a5 100%);
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  font-family: "Gilroy-ExtraBold";
  font-weight: 400;
  max-width: 320px;
  text-align: center;
  cursor: pointer;
}

.accordion .btn span {
  font-family: "Gilroy-Light";
  font-weight: 300;
}

.contacts {
  padding-top: 120px;
  background-image: url(../img/bg-contacts.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding-bottom: 200px;
}

.contacts h2 {
  color: #3f4567;
  font-family: "Gilroy-ExtraBold";
  font-size: 44px;
  font-weight: 300;
  line-height: 46px;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
}

.contacts h2 span {
  font-family: "Gilroy-Light";
  font-size: 30px;
  font-weight: 300;
}

.contacts h2::after {
  content: '';
  position: absolute;
  bottom: -55px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 175px;
  height: 30px;
  background-image: url(../img/after-title.png);
}

.contacts .container-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts .container-inner ul {
  list-style: none;
  width: 40%;
  padding: 0;
}

.contacts .container-inner ul li {
  font-family: "Gilroy-Light";
  font-weight: 300;
  letter-spacing: 0.7px;
  line-height: 18px;
  margin-bottom: 30px;
  position: relative;
}

.contacts .container-inner ul li a {
  color: #3f4567;
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 30px;
  display: block;
}

.contacts .container-inner ul:nth-child(1) li::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -39px;
  background-image: url(../img/Layer_33.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts .container-inner ul:nth-child(2) li:nth-child(1)::before {
  content: '';
  position: absolute;
  width: 23px;
  height: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -39px;
  background-image: url(../img/Layer_34.png);
  background-size: 23px 17px;
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts .container-inner ul:nth-child(2) li:nth-child(2)::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -39px;
  background-image: url(../img/Layer_35.png);
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

.contacts .container-inner ul:nth-child(2) li:nth-child(3)::before {
  content: '';
  position: absolute;
  width: 17px;
  height: 23px;
  top: 10px;
  left: -39px;
  background-image: url(../img/Layer_36.png);
  background-size: 17px 23px;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 0;
}

.footer .container .phone {
  padding: 13px 22px;
  padding-left: 59px;
  border-radius: 20px;
  background-color: #fff4fa;
  color: #3f4567;
  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.45px;
  position: relative;
}

.footer .container .phone .circle {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 22px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  -webkit-box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
          box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
  background-color: #02a6ed;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fd6585), to(#ffd3a5));
  background-image: linear-gradient(to top, #fd6585 0%, #ffd3a5 100%);
}

.footer .container .phone .circle::before {
  content: '';
  position: absolute;
  top: 50%;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  left: 50%;
  background-image: url(../img/icon-phone.png);
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

@media (max-width: 1500px) {
  .first-screen {
    padding-top: 50px;
    padding-bottom: 80px;
  }
  .first-screen__bottom {
    bottom: -200px;
  }
}

@media (max-width: 1300px) {
  .about .container .about-block:nth-child(1) .search-block {
    right: auto;
    left: 10px;
  }
  .about .container .about-block:nth-child(2) p {
    font-size: 16px;
    line-height: 150%;
  }
  .reviews .container .video-card {
    width: calc( (100% - 30px) / 4);
  }
}

@media (max-width: 1100px) {
  .header-menu ul {
    display: none;
    position: fixed;
    top: 165px;
    width: 100%;
    height: 100%;
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #fff;
    z-index: 999;
  }
  .header-menu ul li {
    margin-bottom: 30px;
  }
  .header .mobile-menu {
    width: 100%;
    display: block;
    position: absolute;
    top: 50px;
    left: 85%;
    width: 30px;
    height: 2px;
    background-color: #000;
    -webkit-transition: .2s ease all;
    transition: .2s ease all;
    -webkit-transform-origin: center center;
            transform-origin: center center;
    z-index: 1000;
  }
  .header .mobile-menu::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #000;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  .header .mobile-menu::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #000;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-transform-origin: center center;
            transform-origin: center center;
  }
  .header .mobile-menu.active {
    height: 0;
  }
  .header .mobile-menu.active::before {
    top: 0;
    bottom: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header .mobile-menu.active::after {
    top: 0;
    bottom: 0;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header-menu__logo {
    margin-bottom: 20px;
  }
  .first-screen {
    padding-top: 100px;
  }
  .first-screen__top--block .btn {
    padding: 20px 40px;
  }
}

@media (max-width: 1000px) {
  .components .container .card {
    width: calc( (100% - 30px) / 2);
  }
  .about .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about .container .about-block {
    width: 100%;
  }
  .about .container .about-block:nth-child(1) .search-block {
    right: 30%;
    left: auto;
  }
  .about .container .about-block:nth-child(2) p {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
  }
  .first-screen__bg {
    position: static;
  }
  .first-screen__bottom {
    bottom: -900px;
  }
  .first-screen {
    background-color: #fff4fa;
  }
  .contacts .container-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contacts .container-inner ul {
    width: 100%;
    padding-left: 40px;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .header .mobile-menu {
    left: 85%;
  }
  .reviews .container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .reviews .container .video-card {
    width: calc( (100% - 200px) / 2);
  }
  .accordion-inner__block--header .accordion-button {
    min-width: 227px;
  }
  .first-screen__bottom {
    bottom: -800px;
  }
}

@media (max-width: 800px) {
  .about .container .about-block:nth-child(1) .search-block {
    right: 10px;
  }
  .first-screen__bottom {
    bottom: -900px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .first-screen__bottom--card {
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media (max-width: 700px) {
  .first-screen__top--block h1 {
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 20px;
  }
  .first-screen__top--block h2 {
    font-size: 18px;
    line-height: 150%;
    margin-bottom: 20px;
  }
  .first-screen__top--block ul li {
    font-size: 14px;
  }
  .first-screen {
    padding-bottom: 680px;
  }
  .first-screen__bottom {
    bottom: -1100px;
  }
  .components .container .card {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .reviews .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviews .container .video-card {
    width: auto;
    max-width: 90%;
    margin: 10px;
  }
  .accordion-inner__block--header {
    position: relative;
    padding-left: 10px;
  }
  .accordion-inner__block--header h3 {
    margin-right: 160px;
    font-size: 15px;
    padding: 10px 0;
  }
  .accordion-inner__block--header .accordion-button {
    min-width: 160px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    padding-right: 5px;
    padding-left: 10px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .accordion-inner__block--body {
    padding: 10px;
  }
  .accordion-inner__block--header .accordion-button .text {
    font-size: 15px;
  }
  .footer .container {
    padding: 30px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .container img {
    margin-bottom: 20px;
  }
  .header {
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .header__logo {
    margin-bottom: 10px;
  }
  .header-menu ul {
    top: 110px;
  }
  .accordion .btn {
    padding: 20px 40px;
  }
  .accordion h2,
  .reviews h2,
  .components h2,
  .about h2 {
    font-size: 32px;
    line-height: 150%;
    padding: 0 5px;
  }
  .accordion h2 br,
  .reviews h2 br {
    display: none;
  }
  .accordion-inner__block--header {
    min-height: 70px;
    height: auto;
  }
}

.flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (max-width: 600px) {
  .first-screen__bottom {
    bottom: -900px;
  }
  .about {
    margin-top: 100px;
  }
}

@media (max-width: 500px) {
  .about .container .about-block:nth-child(1) .search-block {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  .first-screen__top--block h1 br {
    display: none;
  }
}

@-webkit-keyframes pulse {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

@keyframes pulse {
  0% {
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

.first-screen__video {
  position: absolute;
  width: 200px;
  height: 340px;
  top: 190px;
  right: 36%;
}

.first-screen__video h2 {
  color: #3f4567;
  font-family: "Gilroy-ExtraBold";
  font-size: 24px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 84px;
}

.first-screen__video .play-icon {
  border-radius: 50%;
  width: 71px;
  height: 71px;
  -webkit-box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
          box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
  background-color: #ffffff;
  background-image: linear-gradient(45deg, #fd6585 0%, #ffd3a5 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 32px;
  margin-left: auto;
  margin-bottom: 95px;
  position: relative;
}

.first-screen__video .play-icon .animate {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  width: 113px;
  height: 113px;
  -webkit-box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
          box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
  background-color: #350818;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fd6585), to(#ffd3a5));
  background-image: linear-gradient(to top, #fd6585 0%, #ffd3a5 100%);
  opacity: 0.8;
  border-radius: 50%;
  -webkit-animation: pulse 2s linear 0s infinite normal none;
          animation: pulse 2s linear 0s infinite normal none;
}

.first-screen__video .play-icon img {
  z-index: 2;
}

.first-screen__video p {
  color: #3f4567;
  font-family: "Gilroy-Light";
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  position: relative;
}

.first-screen__video p::after {
  content: '';
  width: 33px;
  height: 26px;
  background-image: url(../img/arrow.png);
  background-size: 33px 26px;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: -3px;
  left: -40px;
}

.video {
  display: none;
}

@media (max-width: 1700px) {
  .first-screen__video {
    right: 34%;
  }
}

@media (max-width: 1500px) {
  .first-screen__video {
    top: 140px;
  }
  .first-screen__video h2 {
    margin-bottom: 64px;
  }
  .first-screen__video p {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
}

@media (max-width: 1400px) {
  .first-screen__video h2 {
    margin-bottom: 54px;
    font-size: 18px;
    line-height: 24px;
    margin-top: 20px;
  }
  .first-screen__video .play-icon {
    margin-bottom: 85px;
  }
  .first-screen__video {
    right: 32%;
  }
  .first-screen__video .play-icon {
    margin-right: 52px;
  }
}

@media (max-width: 1200px) {
  .first-screen__bg {
    width: calc( 100% + 200px);
  }
  .first-screen__video {
    right: 22%;
  }
}

@media (max-width: 1100px) {
  .first-screen__bg {
    width: calc( 100% + 300px);
  }
  .first-screen__video {
    right: 13%;
    top: 150px;
  }
}

@media (max-width: 1000px) {
  .first-screen__bg {
    width: 100%;
  }
  .first-screen__video {
    right: auto;
    left: 20%;
    top: 710px;
  }
  .first-screen__video .play-icon {
    margin-bottom: 105px;
  }
}

@media (max-width: 900px) {
  .first-screen__video {
    top: 670px;
  }
  .first-screen__video h2 {
    margin-bottom: 84px;
  }
  .first-screen__video .play-icon {
    margin-right: 65px;
  }
}

@media (max-width: 800px) {
  .first-screen__top--block h1,
  .first-screen__top--block h2 {
    text-align: center;
  }
  .first-screen__top--block .btn {
    margin: 0 auto;
  }
  .first-screen__bg {
    margin-top: 30px;
  }
  .first-screen__video {
    display: none;
  }
  .first-screen__video .play-icon {
    margin-bottom: 55px;
  }
  .first-screen__video h2 {
    margin-bottom: 57px;
  }
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(calc(-50% - 20px));
            transform: translateX(-50%) translateY(calc(-50% - 20px));
    border-radius: 50%;
    width: 71px;
    height: 71px;
    -webkit-box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
            box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
    background-color: #ffffff;
    background-image: linear-gradient(45deg, #fd6585 0%, #ffd3a5 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 4;
  }
  .video::before {
    content: '';
    position: absolute;
    display: block;
    width: 15px;
    height: 18px;
    top: 50%;
    left: 50%;
    z-index: 5;
    -webkit-transform: translateX(-50%) translateY(calc(-50% - 20px));
            transform: translateX(-50%) translateY(calc(-50% - 20px));
    background-image: url(../img/play.png);
    background-size: 15px 18px;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .video .animate {
    -webkit-animation: pulse 2s linear 0s infinite normal none;
            animation: pulse 2s linear 0s infinite normal none;
    -webkit-box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
            box-shadow: 0 24px 79px rgba(253, 104, 134, 0.61);
    background-color: #350818;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#fd6585), to(#ffd3a5));
    background-image: linear-gradient(to top, #fd6585 0%, #ffd3a5 100%);
    opacity: 0.8;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 20px);
    left: 50%;
    z-index: 3;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .video h2 {
    color: #3f4567;
    font-family: "Gilroy-ExtraBold";
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  .video p {
    color: #3f4567;
    font-family: "Gilroy-Light";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    position: relative;
    -webkit-transform: translateY(-40px);
            transform: translateY(-40px);
  }
  .video p::after {
    content: '';
    width: 33px;
    height: 26px;
    background-image: url(../img/arrow.png);
    background-size: 33px 26px;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: -3px;
    left: -40px;
  }
  .first-screen__bottom {
    bottom: -1350px;
  }
}

@media (max-width: 680px) {
  .first-screen__bottom {
    bottom: -1500px;
  }
}

@media (max-width: 600px) {
  .first-screen__bottom {
    bottom: -1400px;
  }
}

.modal-video,
.modal-sert,
.modal-rev-0,
.modal-rev-1,
.modal-rev-2,
.modal-rev-3,
.modal-rev-4,
.modal-rev-5,
.modal-rev-6,
.modal-rev-7,
.modal-rev-8 {
  z-index: 1100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000b7;
  display: none;
}

.modal-video__inner,
.modal-sert__inner,
.modal-rev-0__inner,
.modal-rev-1__inner,
.modal-rev-2__inner,
.modal-rev-3__inner,
.modal-rev-4__inner,
.modal-rev-5__inner,
.modal-rev-6__inner,
.modal-rev-7__inner,
.modal-rev-8__inner {
  width: 90%;
  max-width: 900px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-video__inner iframe,
.modal-sert__inner iframe,
.modal-rev-0__inner iframe,
.modal-rev-1__inner iframe,
.modal-rev-2__inner iframe,
.modal-rev-3__inner iframe,
.modal-rev-4__inner iframe,
.modal-rev-5__inner iframe,
.modal-rev-6__inner iframe,
.modal-rev-7__inner iframe,
.modal-rev-8__inner iframe {
  width: 90%;
  max-width: 900px;
  height: 500px;
}

.modal-sert img {
  max-width: 90%;
}

@media (max-width: 600px) {
  .modal-video__inner,
  .modal-video__inner iframe {
    height: 300px;
  }
}
/*# sourceMappingURL=style.css.map */